/*
   Developer: James D. Pérez
   Email: jamesdaniel09874@gmail.com
   Phone Number: (787)-400-4265
*/

/* Google Font: Ubuntu Light 300 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Google Font: Pacifico */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



/* Reset */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    line-height: 1.7em;
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

/* Navbar */

.navbar nav {
    background: #522D27;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.logo a:hover {
    color: #522D27;
    padding: 6px;
    border-radius: 5%;
    background: #fff;
}

.navbar nav ul {
    float: right;
    margin-right: 20px;
}

.navbar nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar nav ul li a {
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    color: #522D27;
    background: #fff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.line{
    color: #fff;
}


/* Showcase banner */

.banner-img {
    background: url(../img/Miguel-Old-San-Juan.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

/* header content */

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.header-content {
    text-align: center;
    padding-top: 16%;
}

.header-content h1, .lead{
    color: #fff;
}

.btn-light {
    color: #522D27;
    padding: 10px;
    border-radius: 5%;
    background-color: #f4f4f4;
}

.btn-light:hover{
    color: #522D27;
    background-color: #e2e1e1;
}

/* About us */

.about-us{
    padding: 5% 15%;
    text-align: center;
}

.about-us h2{
    font-size: 40px;
    padding-bottom: 40px;
}

.about-us img{
    height: 200px;
    width: 200px;
}
/* Product Container */

.products-container{
    padding: 5% 15%;
    background-color: #522D27;
}

.product-header{
    color: #fff;
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;

}

.products{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 300px);
}

.products-items{
    width: 100%;
    height: 340px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.products-items img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.products-items h3{
    padding-top: 10px;
    
}

.products-items p{
    padding: 10px 0px;
}

.addCar{
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: #522D27;

}

.addCar:hover{
    color: #fff;
    background-color: #5f3832;
}

/* Section: Events */

.events-container{
    padding: 5% 15%;
}


.events{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 400px);
}

.event-header{
    color: #000000;
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;

}

.event-items{
    width: 100%;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 150px);
}

/* Main Footer */

.main-footer{
    padding: 5%;
    color: #fff;
    background-color: #522D27;
}

.main-footer .footer-content{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 250px);
}

.main-footer .footer-content div p, .footer-link{
    font-size: 12px;
}
.sobreNosotros{
    padding-bottom: 20px;
}

.location-footer{
    padding-bottom: 41px;
}

.logo-footer{
    width: 110px;
    height: 110px;
    text-align: center;
}


/* subfooter */

.subfooter{
    padding: 3%;
    text-align: center;
    background-color: #fff;
}
.subfooter a{
    color: #522D27;
}

.subfooter p{
    font-size: 10px;
    padding-top: 12px 0px;
}

.footer-icons{
    padding: 0px 10px;
}
/* Movil section */

@media (max-width: 1952px) {
    label.logo {
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }

}

@media(max-width: 1400px){
    .products{
        grid-template-columns: repeat(2, 350px);
    }

    .main-footer .footer-content{
        grid-template-columns: repeat(2,200px);
    }

}

@media (max-width: 1358px) {
    .checkbtn {
        display: block;
    }
    .navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #5f3832;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li {
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a {
        font-size: 20px;
        display: block;
    }
    a:hover,
    a.active {
        background: none;
        color: #fff;
    }
    #check:checked~ul {
        left: 0;
    }

    /* Events */

    .events{
        grid-template-columns: 1fr;
    }

}

@media(max-width: 740px){
    .products{
        grid-template-columns: 1fr;
    }

    h2{
        font-size: 18px;
    }

    .aboutUS,.product-header,.event-header{
        font-size: 30px;
    }
}

@media(max-width: 495px){
    .logo-footer{
        width: 200px;
        height: 200px;
    }
    .products-items img{
        padding-left: 25px;
    }
    .main-footer .footer-content{
        grid-template-columns: 1fr;
    }
}


